.recipem {
  border: 2px black solid;
  border-radius: 1px;
  text-align: center;
}
.projects {
  border: 2px black solid;
  border-radius: 1px;
  text-align: justify;
}
.vtfr {
  display: flex;
  justify-content: flex-end;
}
.createnr {
  display: flex;
  justify-content: space-around;
}
.form {
  display: flex;
  justify-content: space-around;
}
.enb {
  display: flex;
  justify-content: space-between;
}
.dtr {
  display: flex;
  justify-content: space-around;
}

.todo_list_title {
  display: flex;
  justify-content: space-around;
}
.nform {
  border: 2px black solid;
  border-radius: 1px;
  display: flex;
  justify-content: space-around;
}
.links {
  display: flex;
  justify-content: space-around;
}
.rcf {
  display: flex;
  justify-content: space-between;
}
.er {
  border: 2px black solid;
  border-radius: 1px;
  display: flex;
  justify-content: space-around;
}
.td {
  border: 2px black solid;
  border-radius: 1px;
  display: flex;
  justify-content: space-around;
}
.cc{
    display: flex;
  justify-content: space-around;
}
.hp1{
  border: 2px black solid;
  border-radius: 1px;
  display: flex;
  justify-content: space-around;
}
.hpp1{
  display: flex;
  justify-content: space-around;
}
.hpp2{
  display: flex;
  justify-content: stretch;
}
.hpp3{
  display: flex;
  justify-content: flex-start;
}
.sui{
    display: flex;
  justify-content: center;
}
.navrecipe{
    display: flex;
  justify-content: flex-end;
}
